{% extends 'base.html' %}
{% block title %} 
  Профайл пользователя {{ author.get_full_name }} 
{% endblock title %} 
{% block content %}
  <div class="container py-5 mb-5">
    <h1>Все посты пользователя {{ author.get_full_name }}</h1>
    <h3>Всего постов: {{ page_obj|length }}</h3>
    {% if author.username != request.user.username %}
      {% if following %}
        <a
          class="btn btn-secondary mb-2"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-primary mb-2"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% else %}
      <a
        class="btn btn-outline-secondary mb-2 disabled"
      >
        Неактивно
      </a>
    {% endif %}
    {% for post in page_obj %}
      {% include 'includes/post_list.html' %}
    {% endfor %} 
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock content %}
